.genplan-floor-tooltip {
    display: flex;
    width: 200px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 1000px;
    background: rgba(65, 31, 0, 0.85);

    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: .25s ease-in-out;
    
    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__digit {
        color: var(--White, #EDE2E7);
        font-family: Tenor Sans;
        font-size: 96px;
        font-style: normal;
        font-weight: 400;
        line-height: 94%; /* 90.24px */
        text-transform: uppercase;
    }
    &__mob-link {
        color: var(--Yellow, #D2C3B5);
        font-family: Montserrat;
        font-size: 14px;

    }
    &__text {
        color: var(--Yellow, #D2C3B5);
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 94%; /* 16.92px */
        text-transform: uppercase;
    }
    &__close {
        display: none;
    }
}

html:not(.desktop) {
    .genplan-floor-tooltip {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        border-radius: 40px;
        border: 1px solid var(--Brown, #411F00);
        background: rgba(255, 255, 255, 0.94);
        width: 274px;
        padding: 20px;
        height: auto;
        &__close {
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        &__text {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 94%; /* 13.16px */
            margin-bottom: 20px;
        }
        &__title {
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 94%; /* 60.16px */
        }
        &__text,
        &__digit {
            color: var(--Brown, #411F00);
        }
        &__mob-link {
            border-radius: 100px;
            border: 1px solid var(--Brown, #411F00);
            color: var(--Brown, #411F00);
            text-decoration: none;
            display: flex;
            padding: 18px;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            gap: 10px;
        }
    }
}