.s3d-flat__to--floor {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    font-family: $default-font, sans-serif;
    font-size: var(--link-fz-flat);
    line-height: 1.3em;
    font-weight: 500;
    height: var(--size-btn-circle);
    color: #072826;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
    .s3d-flat__to--floor-icon {
        display: flex;
        align-items: center;
        width: 56px;
        height: 14px;
        margin-left: 25px;
        svg {
            stroke: #072826;
            fill: #072826;
            transform: translateX(0);
        }
    }
    @media screen and (max-width: 1600px) {
        .s3d-flat__to--floor-icon {
            width: 46px;
            height: 10px;
            margin-left: 15px;
        }
    }

}


.s3d-flat__pdf {
    --size-btn-circle: 65px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: var(--size-btn-circle);
    width: var(--size-btn-circle);
    transition: border 0.3s ease-in;
    text-decoration: none;
    margin: 40px 0 0 auto;
    border-radius: 50%;
    border: 1px solid rgba(152, 152, 152, 0.25);
    z-index: 2;
    font-family: $default-font, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 500;
    color: #072826;
    text-transform: uppercase;
    flex-grow: 0;
    flex-shrink: 0;
    &:hover {
        border-color: #072826;
    }
}


.floor-tooltip {
    display: inline-flex;
    padding: 11px 23px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid var(--Brown, #411F00);
    background: var(--white, #F4F4F4);
    position: fixed;
    left: 0;
    top: 0;
    transition: .25s ease-out;
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}