<div class="form-wrapper" data-form-popup data-disable-page-scroll>
    <div class="popup">
        <div class="call-popup-close popup__close-wrapper" data-close-call-popup>
            <div class="popup__close"><span></span><span></span></div>
        </div>
        <div class="call-popup-info">
            <form data-smarto-form autocomplete="off">
                <div class="form-title">замовити дзвінок</div>
                <div class="form-field form-field-input" data-field-input data-field-name data-status="field--inactive">
                    <input class="form-field__input" type="text" name="name" placeholder="Ваше ім’я">
                    <div class="input-message" data-input-message></div>
                </div>
                <div class="form-field disabled form-field-input" data-field-input data-field-phone data-status="field--inactive">
                    <input class="form-field__input" type="text" name="phone" placeholder="ваш номер">
                    <div class="mask-absolute js-mask-absolute">ваш номер</div>
                    <div class="input-message" data-input-message></div>
                </div>
                <div class="form-checkbox__wrapper">
                    <label class="form-checkbox">даю згоду на обробку персональних даних                <input type="checkbox" checked="checked"><span class="checkmark"></span>
                    </label>
                </div>
                <button class="home-content__link link" type="submit" data-btn-submit>
                    <svg class="icon--arrow" role="presentation">
                        <use xlink:href="#icon-arrow"></use>
                    </svg><span data-btn-submit-text></span>
                </button>
            </form>
            <div class="form-thanks-wrapper" data-call-thanks-popup>
                <div class="form-title">Дякуємо за звернення!</div><a class="form-thanks-btn button-style" href="https://neboshill.dp.ua/"><span>на головну</span></a>
            </div>
        </div>
    </div>
</div>