<article class="s3d-floor__nav">
    <button data-floor_btn="" data-floor_direction="prev" data-floor_value="1">
        <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.40039 0.300781L0.600391 6.15078L8.40039 12.0008V0.300781Z" fill="#072826"></path>
        </svg>
    </button>
    <p data-current-floor="2" data-value="2">2</p>
    <button data-floor_btn="" data-floor_direction="next" data-floor_value="3">
        <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.599609 0.800781L8.39961 6.65078L0.599609 12.5008V0.800781Z" fill="#072826"></path>
        </svg>
    </button>
</article>