.floor-tooltip
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="floor-tooltip__close">
        <path d="M23 23L1 1M1 23L23 1L1 23Z" stroke="#411F00"/>
    </svg>
    h2.floor-tooltip__title
        span(data-info-flat="rooms")
        span -кімнатна
    div
        span Загальна площа:
        span(data-info-flat="area") 1
        span &nbsp;м²
    div
        span Тип:
        span(data-info-flat="type") 2 
    div
        span Номер:
        span(data-info-flat="number") 3 