
extends ../layout/main
block variable
  -
    var title_page = 'project'
    var id_page = 'home'
    var class_page = 'home '
    var genplan = [
      ['parking', 'Підземні паркінги', '#4AC1F3 '],
      ['hospital', 'Лікарня', '#4AF3DF'],
      ['park', 'Паркова зона', '#E6F34A'],
      ['barbeque', 'Зона барбекю', '#F3C44A'],
      ['dogs', 'Зона для вигулу собак', '#F3734A'],
      ['greenzone', 'Зелені зони', '#4AF384'],
      ['playground', 'Дитячі майданчики', '#F34AEC'],
      ['sportyard', 'Спортивні майданчики', '#4D4AF3'],
      ['workoutzone', 'Workout зони', '#F34A4A'],
    ]

block meta
  title= 'Щасливий у Дніпрі'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
block content
  .genplan-layout
    .genplan-svg
      svg(width='2560' height='1293.3' version='1.1' viewbox='0 0 677.33 342.19' preserveaspectratio='xMaxYMid slice' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
        image(width='100%' height='100%' href='./assets/images/genplan-img.jpg')
        g(transform='translate(1.0124 7.386)')
          a(xlink:href='/single-floor?floor=1' xlink:title='The link leads to an example page that is of little interest')
            path(data-floor="1" d='m261.26 297.14 266.61 17.071h20.258l70.18-17.726v-26.046l-90.438-0.18089-266.61 5.9689z' fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" stroke-width="1" )
          a(xlink:href='/single-floor?floor=2' xlink:title='The link leads to an example page that is of little interest')
            path(data-floor="2" d='m261.26 276.23 266.61-5.9689 90.438 0.18089v-32.467l1.3248 0.2231-0.0159-1.8865 3.1655 0.048 0.048-2.1423-94.961-13.174-57.895 7.7379-0.1279 10.552-11.063-1.0871-29.609 2.494 0.0639 3.0056-31.783 2.1743-11.575 0.064-21.999 1.9185-0.064 2.0464-100.03 7.5461-2.5323 0.1279z' fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" stroke-width="1" )
          a(xlink:href='/single-floor?floor=3' xlink:title='The link leads to an example page that is of little interest')
            path(data-floor="3" d='m263.79 257.49 100.03-7.546 0.064-2.0464 65.357-4.1568-0.0639-3.0056 29.609-2.494 11.063 1.0871 0.1279-10.552 57.895-7.7379 90.438 12.47v-18.42l-10.853-1.6279v-4.1602l-30.026-5.4263v3.9793l-10.491-1.6279-39.069-6.5116-57.7 9.2247-11.395-1.447-38.346 5.7881 8.1395 1.9896-29.845 5.7687-10.31-1.4276-27.132 4.5219 4.1602 1.6279-43.41 7.5968-8.1395-0.90439-18.088 2.894 7.5968 1.9896-13.385 2.1705-8.5012-1.2661-13.558 2.6217 6.6842 1.6289-13.385 1.1757 2e-5 13.95z' fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" stroke-width="1" )
          a(xlink:href='/single-floor?floor=4' xlink:title='The link leads to an example page that is of little interest')
            path(data-floor="4" d='m261.26 243.67 13.385-1.1757-6.6842-1.6289 13.558-2.6217 8.5012 1.2661 13.385-2.1705-7.5968-1.9896 18.088-2.894 8.1395 0.90439 43.41-7.5968-4.1602-1.6279 27.132-4.5219 10.31 1.4276 29.845-5.7687-8.1395-1.9896 38.346-5.7881 11.395 1.447 57.7-9.2247 49.56 8.1395v-3.9793l30.026 5.4263v4.1602l10.853 1.6279v-33.955l-10.853-3.3254v-7.4182l-30.365-8.6972-11.255 3.3254-37.966-10.999-58.215 14.581 0.51159 9.4646-11.767-3.0696-38.881 9.9762 9.7203 2.8138-30.44 8.1856-10.999-2.558-27.37 6.3022 9.2087 3.1624-47.067 10.744-9.2088-1.279-17.906 4.3486 8.4414 1.7906-14.005 3.3893-9.2727-1.3429-12.918 3.5172 6.9066 1.4708-13.351 2.4301z' fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" stroke-width="1" )
          a(xlink:href='/single-floor?floor=5' xlink:title='The link leads to an example page that is of little interest')
            path(data-floor="5" d='m261.26 227.95 13.351-2.4301-6.9066-1.4708 12.918-3.5172 9.2727 1.3429 14.005-3.3893-8.4414-1.7906 17.906-4.3486 9.2088 1.279 47.067-10.744-9.2087-3.1624 27.37-6.3022 10.999 2.558 30.44-8.1856-9.7203-2.8138 38.881-9.9762 11.767 3.0696-0.51159-9.4646 58.215-14.581 37.966 10.999 11.255-3.3254 30.365 8.6972v7.4182l10.853 3.3254v-28.01l-10.853-3.9649v-9.5924l-29.726-11.383-10.488 4.7323-39.372-14.453-58.343 19.696v9.8482l-10.744-3.5812-38.37 12.406 8.5692 2.9417-30.184 9.7204-10.999-1.7906-26.347 8.4414 8.3134 2.4301-46.811 14.964-10.488-0.7674-16.371 5.116 7.4182 1.8257-13.429 4.1856-8.825-0.7674-13.174 4.0928 6.6508 1.5348-13.479 3.5812z' fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" stroke-width="1" )
          a(xlink:href='/single-floor?floor=6' xlink:title='The link leads to an example page that is of little interest')
            path(data-floor="6" d='m261.26 212.35 13.479-3.5812-6.6508-1.5348 13.174-4.0928 8.825 0.7674 13.429-4.1856-7.4182-1.8257 16.371-5.116 10.488 0.7674 46.811-14.964-8.3134-2.4301 26.347-8.4414 10.999 1.7906 30.184-9.7204-8.5692-2.9417 38.37-12.406 10.744 3.5812v-9.8482l58.343-19.696 39.372 14.453 10.488-4.7323 29.726 11.383v9.5924l10.853 3.9649v-26.443l2.7476-1.5348-17.171-8.0896 0.0639-5.7555-25.964-10.424-10.36 1.8545-39.756-19.569-57.447 22.766v12.534l-11.255-5.116-38.626 15.604 9.4646 3.0696-31.719 12.534-10.488-2.8138-27.37 10.744 8.9473 2.7794-46.933 18.708-10.232-1.5348-16.115 6.1392 7.4182 1.7906-13.302 5.2439-9.2088-0.89529-13.813 4.8602-5.9333 1.7906z' fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" stroke-width="1" )
          a(xlink:href='/single-floor?floor=7' xlink:title='The link leads to an example page that is of little interest')
            path(data-floor="7" d='m261.26 191.37 19.746-6.6508 9.2087 0.89529 13.302-5.2439-7.4182-1.7906 16.115-6.1392 10.232 1.5348 46.933-18.708-8.9473-2.7794 27.37-10.744 10.488 2.8138 31.719-12.534-9.4645-3.0696 38.626-15.604 11.255 5.116v-12.534l57.447-22.766 39.756 19.569 10.36-1.8545 25.964 10.424 3.5063-2.0464v-22.51l3.3462-1.7962-8.049-4.5219 0.18087-6.8733 4.5219-1.447-14.289-8.4108 3.2558-4.0697-21.886-11.305-3.6175 2.1705-18.992-12.3-11.395 5.2454-23.514-12.661-151.73 80.781v9.7204l-29.239 14.678-11.667-3.0749-63.126 32.648z' fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" stroke-width="1" )
          a(xlink:href='/single-floor?floor=8' xlink:title='The link leads to an example page that is of little interest')
            path(data-floor="8" d='m275.08 158.38-0.0227-3.4016-3.6132-3.4533 18.393-10.777v-4.5219l-0.81397-0.54263v-1.0853l0.81397-0.36175-0.0904-7.7777 14.408-7.996 16.627 4.6044 79.553-44.509-0.064-6.331-3.0696-1.7266 2.9417-1.4069v-11.142l28.841-17.124 20.464 9.7204 71.368-40.8 75.607 49.876-21.886-11.305-3.6175 2.1705-18.992-12.3-11.395 5.2454-23.514-12.661-151.73 80.781v9.7204l-29.239 14.678-11.667-3.0749z' fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" stroke-width="1" )
    .genplan-floor-tooltip(data-genplan-tooltip)
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="genplan-floor-tooltip__close">
        <path d="M23 23L1 1M1 23L23 1L1 23Z" stroke="#411F00"/>
      </svg>
      .genplan-floor-tooltip__digit(data-genplan-tooltip-text) 5
      .genplan-floor-tooltip__text() поверх
    .genplan-title Планування
block footer

block header
