@import './assets/vars';  // переменные
@import './assets/smart-grid';  // mixins smartgrid.js
// libraries
@import './libs';

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
@import './assets/base';  // общие стили
@import './assets/animation';  // анимации
@import './assets/class'; // main style
@import './assets/interface'; // main style
@import './assets/breadcrubs'; // main style


// sass dima
@import './header';
@import './footer';
@import './404';
@import './loader';
@import './menu';

@import '../../pug/components/form/form';
@import '../../pug/components/toster/toster';
@import './components/button-30';
@import './components/delimiter';



//@import 'pages/contacts';
//@import 'pages/contact';
//@import 'pages/home';
@import './assets/templates'; // main style
@import 'components/genplan-floor-tooltip';
@import 'components/single-floor-nav';
@import 'components/floor-tooltip';
@import 'components/vr-popup';
@import 'components/s3d-info-table';
@import 'components/s3d__callback';
@import 'components/s3d-flat__pdf';
